{% extends "base.html.twig" %}

{% block body %}

    <h1>Page utilisateur</h1>

    <p>Vous êtes un :
        {% if is_granted('ROLE_ADMIN') %}
            <b>Administrateur</b>
        {% endif %}

        {% if is_granted('ROLE_USER') %}
            <b>Client</b>
        {% endif %}
    </p>

    <p><a href="{{ path('fos_user_security_logout') }}">Se déconnecter</a></p>

{% endblock %}