{% extends 'base.html.twig' %}

{% block title %}Edit Users{% endblock %}

{% block body %}
<div class="container">
    <div class="text-center">
    <h1>Description et modification du licencier</h1>
    </div>
    {{ include('users/_form.html.twig', {'button_label': 'Enregistrer les modifications'}) }}

    <a href="{{ path('users_index', {'id': app.user.getAssociationId() }) }}" >
</div>
    {{ include('users/_delete_form.html.twig') }}
{% endblock %}
