{% extends 'base.html.twig' %}

{% block title %}Nouveau licencié{% endblock %}

{% block body %}
    <h1>Creer un nouveau licencier</h1>

    {{ include('users/_form.html.twig') }}

    <a href="/users/new">retour à la liste</a>
{% endblock %}
