{% extends 'base.html.twig' %}

{% block title %}Hello AgassoController!{% endblock %}

{% block body %}
    <div class="container">
        <h3>{{ agasso.ag }}</h3>
        <h5>{{ agasso.dateAg|date('Y-m-d') }}</h5>
        <a href="/agasso/{{id}}/edit" class="btn btn-primary">edit</a>
    </div>

{% endblock %}
