{% extends 'base.html.twig' %}

{% block body%}

    <activite>
       <h2>{{ activites.titleActivite }}</h2>
            <div class="content">
                <img src="{{ activites.picActivite1 }}" alt="">
                <p>{{ activites.decriptActivite | raw }}</p>
            </div> 
    </activite>

{% endblock %}